/*start header*/
@media screen and (max-width:620px){
   .navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
   }
}



/*end header*/

/*start hero*/
main {
    padding-top: 117px;
}

.blog-hero {
    background-image: url(../img/shop/shop-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.blog-hero-content {
    align-items: flex-start;
    padding-left: 50px;
}

.blog-hero-content h1 {
    font-size: 60px;
}

.blog-hero-content p {
    font-size: 30px;
}

.main-button .btn {
    margin-top: 0;
}

@media screen and (max-width:772px) {
    .blog-hero {

        padding: 30px 0;
    }

    .blog-hero-content h1 {
        font-size: 50px;
    }

    .blog-hero-content p {
        font-size: 20px;
    }
}

@media screen and (max-width:600px) {
    .blog-hero {

        padding: 20px 0;
    }
}

@media screen and (max-width:472px) {
    .blog-hero {

        padding: 10px 0;
    }

    .blog-hero-content {
        padding-left: 30px;
    }


    .blog-hero-content h1 {
        font-size: 30px;
    }

    .blog-hero-content p {
        font-size: 10px;
    }

    .main-button .btn {
        font-size: 12px;
        padding: 5px 20px;
    }
}







/*end hero*/
/*start footer*/
.footer{
    background: none;
    width: 100%;
}
.footer .left-side{
    width: 65%;
}
.footer .right-side{
    width: 35%;
    background: none;
  
}
.footer svg{
    fill:#e0e0e0;
    background-color: #e0e0e036;  
    margin: 5px;
    border-radius: 50%;
}
@media screen and (max-width:992px) {
  
    .footer .left-side ,
    .footer .right-side{
        width: 100%;
    }
    .social-text{
       justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*end footer*/