/*start header*/
@media screen and (max-width:620px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*end header*/


/*start hero*/
.login-hero {
    background-image: ("flower-bg.webp");
    background-size: cover;
    top: 48px;
}

.login-hero-content {
    top: -7%;
    left: 35%;
}

.login-hero-content h1 {
    font-size: 60px;
}

.login-hero-content .breadcrumb-item,
.login-hero-content a {
    color: #f4f4f4c0;
}

@media screen and (max-width:992px) {
    .login-hero-content {
        left: 30%;
    }

    .login-hero-content h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:778px) {
    .login-hero-content {
        top: -20%;
        left: 30%;
    }

    .login-hero-content h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:489px) {
    .login-hero-content {
        top: -35%;
        left: 25%;
    }

    .login-hero-content h1 {
        font-size: 30px;
    }
}

/*end hero*/



/*start login-reg*/
.login-reg {
    padding-top: 20px;
    padding-bottom: 40px;
}

.social-btn .btn {
    border-radius: 0;
    border: none;
    outline: none;
    padding: 10px 34px;
    font-size: 15px;
    font-weight: bold;

}

.btn:hover {
    background: none;
}

.social-btn .face-btn {
    background-color: #3B5998;
}

.login-side input,
.register-side input {
    border-radius: 0;
    padding: 10px 15px;

}

.form-control:focus {
    box-shadow: none;
    border-color: #000;
}

.remember a {
    font-size: 15px;
    text-decoration: none;
    color: #646c7e;
}

.remember a:hover {
    text-decoration: underline;
    color: #51555e;
}

@media screen and (max-width:450px) {
    .social-btn .btn {
        padding: 10px 25px;
    }
}


/*end login-reg*/


/*start footer*/
.footer {
    background: none;
    width: 100%;
}

.footer .left-side {
    width: 65%;
}

.footer .right-side {
    width: 35%;
    background: none;
}

.footer svg {
    fill: #e0e0e0;
    background-color: #e0e0e036;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width:992px) {

    .footer .left-side {
        width: 100%;
        text-align: start;
        margin-left: 10px;
    }

    .footer .right-side {
        width: 100%;
        text-align: start;
    }

    .social-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*end footer*/