body {
    background-image: url(../img/public/background.webp);
    background-size: cover;
    font-family: var(--mainfont);
}

:root {
    --maincolor: #e18787;
    --secondarycolor: #000000;
    --mainfont: "Poppins", sans-serif;
    --secondaryfont: "Abril Fatface", serif;
}

.main-font {
    font-family: var(--mainfont);
}

.secondary-font {
    font-family: var(--secondaryfont);
}

.p-section {
    padding: 70px 0;
}

.bg-maincolor {
    background-color: var(--maincolor);
}

/*start header*/
.navbar {
    padding: 20px 0;

}

.navbar-collapse {
    flex-grow: 0;

}

.nav-item {
    font-size: 18px;
    font-family: var(--mainfont);
    transition: 0.3s;

}

.nav-item:hover {
    text-decoration: underline 2px;
    text-underline-offset: 0.375em;
}

.nav-item a:focus {
    font-weight: bold;
    text-decoration: underline 2px;
    text-underline-offset: 0.375em;
}

.dropdown-menu a {
    font-size: 18px;
    font-family: var(--mainfont);
    transition: 0.3s;
}

.dropdown-menu a:active {
    text-decoration: none;
    background-color: var(--maincolor);
}

.nav-link .dropdown-toggle {
    background-color: none;
    text-decoration: none;
}

.nav-icon ul {
    list-style-type: none;
}

.nav-icon .num-cart {
    width: 20px;
    height: 20px;
    top: 0;
    right: -35%;
}

.nav-icon .dropdown-menu {
    width: 25%;
    top: 70%;
    right: 2%;
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-menu h1 {
    font-weight: bold;
}

.salary {
    font-weight: bold;
}

.total {
    font-weight: bold;
}

.buttons .btn {
    border-radius: 0;
    transition: all 0.5s;
}

.btn:hover {
    color: #000000;
    outline-color: #000000 1px;
    background-color: #fff;
}

@media screen and (max-width:1016px) {
    .nav-icon .dropdown-menu {
        width: 50%;
    }
}

@media screen and (max-width:992px) {
    .navbar {
        position: sticky;
        top: 0;
        background-color: #fff;
    }

    .nav-icon .icon-1 {
        display: none;
    }

    .nav-icon .icon-3 {
        display: none;
    }

}

@media screen and (max-width:498px) {
    .nav-icon .dropdown-menu {
        width: 100%;
    }
}



/*end header*/



/*start hero*/
.hero {
    background-image: url(../img/public/hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;


}

.hero h1 {
    font-size: 90px;
    font-family: var(--secondaryfont);
}

.main-button .btn {
    border-radius: 0;
    margin-top: 50px;
    font-size: 18px;
    padding: 7px 28px;
    color: #fff;
    background-color: #000000;
    transition: all 0.5s;

}

.btn:hover {
    color: #000000;
    background-color: #fff;
    outline-color: #000000 1px;
}

@media screen and (max-width:1314px) {
    .hero {
        top: 114px;

    }

    .hero-content {
        margin-top: 5px;
    }

    .hero h1 {
        font-size: 80px;
    }
}

@media screen and (max-width:780px) {
    .hero {
        background-position: -50px 0;
    }
}

@media screen and (max-width:550px) {
    .hero {
        padding-top: 20px;
        background-position: -100px 0;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero-content img {
        width: 150px;
    }

}

/*end hero*/



/*start we*/
.we {
    background-image: ("who.webp");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 70px 0;

}

.we .big {
    font-size: 146px;
    color: #ccd8dd;
}

.we .small {
    font-size: 56px;
    top: 32%;
    left: 35%;
}

.we p {
    font-size: 14px;
}

.media {
    bottom: 14%;
    right: 25%;
}

.media span {
    font-size: 14px;
    color: #d3d3d3;
}


@media screen and (max-width:1300px) {
    .we {
        margin-top: 100px;
    }

    .we .big {
        font-size: 84px;

    }

    .we .small {
        font-size: 30px;
        left: 40%;
    }

    .we p {
        font-size: 12px;
    }

}

@media screen and (max-width:992px) {
    .we p {
        max-width: 700px;
        max-height: 108px;
    }

    .media {
        bottom: 12%;
        right: 20%;
    }

    .media img {
        width: 80px;
    }
}

@media screen and (max-width:777px) {
    .we .big {
        font-size: 60px;
    }

    .we .small {
        font-size: 25px;
        top: 35%;
        left: 40%;
    }

    .we p {
        font-size: 8px;
    }

}

@media screen and (max-width:690px) {

    .media {
        bottom: 10%;
        right: 5%;
    }
}

@media screen and (max-width:630px) {
    .we .big {
        font-size: 50px;
    }

    .we .small {
        font-size: 20px;
        top: 35%;
        left: 40%;
    }

    .we p {
        font-size: 8px;
    }

}

@media screen and (max-width:493px) {
    .we .big {
        font-size: 40px;
    }

    .we .small {
        font-size: 15px;
        top: 40%;
        left: 40%;
    }

    .we p {
        font-size: 5px;
    }

}

@media screen and (max-width:376px) {
    .we .big {
        font-size: 40px;
    }

    .we .small {
        font-size: 15px;
        top: 45%;
        left: 35%;
    }

    .we p {
        font-size: 3px;
    }

}

/*end we*/




/*start collection*/
.collection h2 {
    font-size: 60px;
    font-weight: 400px;
}

.collection .sale-side {
    background-image: url(../img/collection/collection.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -45px 40px;
    height: 862px;
}

.sale-side h1 {
    font-size: 75px;
    font-weight: 400;
}

.p a {
    font-size: 16px;
    transition: all 0.5s;
}

.card {
    background: none;
}

.products .card a:hover {
    color: var(--maincolor);
}

.products .card span {
    font-size: 18px;
    font-weight: bolder;
}

.card-img {
    transition: all 0.5s;
}

.card-img:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.note {
    right: 0;
}

.img-icons {
    top: 42%;
    left: 12%;
}

.img-icons .icon {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0;
}

.card-img:hover .img-icons .icon {
    opacity: 1;
}

.img-icons .icon path {
    transition: all 0.5s;
}

.img-icons .icon:hover path {
    fill: #000000;
}


/*end collection*/


/*start wedding*/
.wedding {
    background-image: url(../img/wedding-section/wedding-bg.webp);
    background-size: cover;
    background-repeat: repeat;
    background-position: 23px 124px;
}

.wedding h2 {
    font-size: 60px;
    font-weight: 400px;
}

.wedding p {
    padding-bottom: 70px;
}

@media screen and (max-width:1200px) {
    .wedding {
        background-position: -378px 137px;
    }
}

@media screen and (max-width:776px) {
    .wedding {
        background: none;
    }
}

/*end wedding*/



/*start holiday*/
.holiday h2 {
    font-size: 60px;
    font-weight: 400px;
}

.holiday .first-para {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 70px;
}

.holiday .sale-side {
    background-image: url(../img/holiday-section/holiday-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -28px 2px;
    height: 862px;
    margin-top: -40px;
}
.holiday .sales{
    margin-top: -30px;
}
.holiday .sale30 {
    font-size: 115px;
    font-weight: 400px;
}

.holiday .persent {
    font-size: 60px;
    font-weight: 400;
    top: 30px;
    right: -40px;
}

.holiday .off {
    font-size: 36px;
    font-weight: 400;
    bottom: 29px;
    right: -63px;
}

/*end holiday*/


/*start clients*/
.clients {
    padding: 50px 0;
    flex-wrap: nowrap;
    overflow: auto;
    margin-left: auto;
}

.clients .logo {
    width: calc((100% - 75px) / 6);
}

.clients img {
    width: 200px;
    height: 120px;
}

@media screen and (max-width:1120px) {

    .clients .logo {
        width: calc((100% - 30px) / 3);
    }
}

@media screen and (max-width:520px) {

    .clients .logo {
        width: calc((100% - 15px) / 2);
    }
}

/*end clients*/



/* start Leatest Blog*/
.latest-blog {
    padding: 70px 0;
}

.latest-blog h2 {
    font-size: 60px;
}

.latest-blog .blog {
    flex: 1 0 100px;
    width: 400px;
    height: 558px;
    gap: 15px;
}

.blog .blog-img img {
    width: 350px;
    height: 245px;
}

.blog .blog-info {
    color: #808080;
}

.blog svg {
    fill: #808080;
}

.blog h3 {
    color: black;
    transition: all 0.5s;
}

.blog:hover h3 {
    color: var(--maincolor);
}

@media screen and (max-width:1200px) {
    .blog .blog-img img {
        width: 300px;
        height: 235px;
    }
}

@media screen and (max-width:992px) {
    .latest-blog .blog {
        padding: 20px 0;
    }
}
@media screen and (max-width:580px) {
    .latest-blog .blog {
        margin-left: 7px;
    }
}


/*end Leatest Blog*/



/*start footer*/
.footer {
    padding: 180px 0;
    background-image: url(../img/public/BG-footer.webp);
    background-size: cover cover;
    background-position: -284px -390px;
    background-repeat: no-repeat;



}

.footer a {
    text-decoration: none;
    color: #808080;
    font-size: 16px;
    transition: all 0.3s;
}

.footer a:hover {
    color: #000000;
    font-weight: bold;
}
.social a:hover path{
    fill:#808080;
}
.footer .right-side {
    background-image: url(../img/public/new-letter.webp);
    background-size: cover;
    background-position: center;
}

.mail {
    width: 100%;
}

@media screen and (max-width:992px) {
    .footer {
        text-align: center;

    }

    .footer .left-side {
        padding-bottom: 20px;
    }

    .social-text {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:770px) {

    .footer{
        background-position: -390px -390px;
    }
    .footer-item {
        padding: 20px 0;
    }

}

@media screen and (max-width:470px) {
    .footer{
        background-position: -500px -390px;
    }

    .footer .right-side {
        background: none;
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .newsletter {
        gap: 5px
    }

    .mail {
        padding: 0;
        width: 75%;
    }

}

/*end footer*/