
/*start header*/
@media screen and (max-width:620px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*end header*/

/*start hero*/
main {
    padding-top: 117px;
}

.shop-hero {
    background-image: url(../img/shop/shop-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.shop-hero-content {
    align-items: flex-start;
    padding-left: 50px;
}

.shop-hero-content h1 {
    font-size: 60px;
}

.shop-hero-content p {
    font-size: 30px;
}

.main-button .btn {
    margin-top: 0;
}

@media screen and (max-width:772px) {
    .shop-hero {

        padding: 30px 0;
    }

    .shop-hero-content h1 {
        font-size: 50px;
    }

    .shop-hero-content p {
        font-size: 20px;
    }
}

@media screen and (max-width:600px) {
    .shop-hero {

        padding: 20px 0;
    }
}

@media screen and (max-width:472px) {
    .shop-hero {

        padding: 10px 0;
    }

    .shop-hero-content {
        padding-left: 30px;
    }


    .shop-hero-content h1 {
        font-size: 30px;
    }

    .shop-hero-content p {
        font-size: 10px;
    }

    .main-button .btn {
        font-size: 12px;
        padding: 5px 20px;
    }
}




/*end hero*/




/*start shop-products*/

.show {
    padding-bottom: 30px;
}

.show .right {
    justify-content: end;
}

.show .left button a {
    color: #000;
    cursor: pointer;
}

.show .left button {
    transition: all 0.5s;
}

.show .left button:hover {
    color: #fff;
    background-color: #000;
}

.show .left button:hover a {
    color: #fff;

}

.show .left button:hover svg path {
    fill: #fff;
}

.select {
    background: none;
    cursor: pointer;
    background-color: #f0f0f0;
}

select option:hover {
    color: var(--maincolor);
    background-color: #fff;
}

/*****/

.shop-products {
    padding: 20px 0;
    padding-bottom: 50px;
}

.shop-products .card a:hover {
    color: var(--maincolor);
}

.shop-products .card span {
    font-size: 18px;
    font-weight: bolder;
}

.card {
    width: 190px;
    margin-bottom: 10px;
}

.card-img {
    height: 50%;
}

.card-img img {
    height: 100%;
    object-fit: cover;
}

.card-body {
    height: 50%;
}

.card-body a,
.card-body ul {
    margin-bottom: 4px;
}

.card-body a {
    white-space: nowrap;
}

.img-icons {
    top: 40%;
    left: 2%;
}

/*******/

.page-item .page-link {
    color: #000;
    background: none;
    border: none;
    background-color: #eeeeee;
}

.page-item .page-link:hover {
    color: #fff;
    background-color: #000;
}

.page-item .page-link:focus {
    color: #fff;
    background-color: #000;
    box-shadow: none;
}


@media screen and (max-width:1250px) {
    .card {
        width: 160px;
    }
}

@media screen and (max-width:1020px) {
    .card {
        width: 150px;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: 250px;
        margin: 0 auto;

    }
}

@media screen and (max-width:770px) {
    .show .left {
        margin-bottom: 10px;
    }

    .show span {
        display: none;
    }

    .show .right {
        justify-content: start;
    }
}

/*end shop-products*/




/*start footer*/
.footer {
    padding-top: 50px;
    background: none;
    width: 100%;
}

.footer .left-side {
    width: 65%;
}

.footer .right-side {
    width: 35%;
    background: none;
}

.footer svg {
    fill: #e0e0e0;
    background-color: #e0e0e036;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }

    .social-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*end footer*/