/*start header*/
@media screen and (max-width:620px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*end header*/


/*start hero*/
main {
    padding-top: 117px;
}

.cart-hero {
    background-image: url(../img/public/flower-bg.webp);
    background-size: cover;
    padding: 150px 0;
    margin: 0 120px;
}

.cart-hero-content h1 {
    font-size: 60px;
}

.cart-hero-content .breadcrumb-item,
.cart-hero-content a {
    color: #f4f4f4c0;
}

@media screen and (max-width:1200px) {
    .cart-hero {
        padding: 100px 0;
        margin: 0 100px;
    }
}

@media screen and (max-width:992px) {
    .cart-hero {
        padding: 70px 0;
        margin: 0 80px;
    }
}

@media screen and (max-width:778px) {
    .cart-hero {
        padding: 60px 0;
        margin: 0 30px;
    }

    .cart-hero-content h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:489px) {
    .cart-hero {
        padding: 40px 0;
        margin: 0 10px;
    }
}

/*end hero*/

/*start head cart*/
.head-cart {
    padding: 25px 0;
}

.head-cart span {
    width: 50px;
    height: 50px;
}

.head-cart .head-service {
    width: 360px;
    height: 307px;
}

.head-cart .border-bottom {
    width: 100px;

}

@media screen and (max-width:630px) {
    .head-cart .head-service {
        width: 300px;
        height: 280px;
    }
}


/*end head cart*/

/*start shop cart*/
.shop-cart .container {
    overflow: scroll;
}

.shop-cart img {
    width: 300px;
}

.table>thead {
    --bs-table-color: none;
    --bs-table-bg: none;
    background-color: #DDDDDD;
}

tbody .item-cart td {
    padding-top: 25px;
    vertical-align: middle;
}

tbody .item-cart .qty {
    white-space: nowrap;
}

.item-cart .btn-close:focus {
    box-shadow: none;
}

@media screen and (max-width:780px) {
    .shop-cart img {
        width: 100px;
    }
}

@media screen and (max-width:594px) {
    .shop-cart img {
        width: 60px;
    }
}


/*end shop cart*/


/*start box*/
.box {
    padding: 30px 0;
}

.box .left-box {
    width: 50%;
    flex-wrap: wrap;
}

.box .right-box {
    width: 25%;
}

.box .main-button .btn {
    padding: 10px 20px;

}

@media screen and (max-width:780px) {
    .box .row {
        gap: 12px;
    }

    .box .left-box,
    .box .right-box {
        width: 100%;
    }
}

/*end box*/



/*start purchase process*/
.purchase-process {
    padding: 30px 0;
}

.purchase-process .row {
    justify-content: space-between;
}

.purchase-process .col-md-4 {
    width: 350px;
}

.purchase-process .coubon {
    height: 250px;
}

.purchase-process .cheackout {
    height: 215px;
}

.purchase-process input {
    border-radius: 0;
    padding: 10px 15px;

}

.form-control:focus {
    box-shadow: none;
    border-color: #000;
}

.purchase-process h3 {
    font-size: 18px;
    font-weight: 700;
    color: #565656;
}

.purchase-process label {
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width:750px) {
    .purchase-process .row {
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .purchase-process {
        margin-left: 5px;
    }
}

/*end purchase process*/


/*start footer*/
.footer {
    padding-top: 100px;
    background: none;
    width: 100%;
}

.footer .left-side {
    width: 65%;
}

.footer .right-side {
    width: 35%;
    background: none;
    align-items: flex-start;
}

.footer svg {
    fill: #e0e0e0;
    background-color: #e0e0e036;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }
    .footer .right-side {
    align-items: center;
}

    .social-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*end footer*/