/* :root {

    font-size: 16px;


} */


/*start header*/
@media screen and (max-width:620px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*end header*/

/*start hero*/
.shop-hero {
    background-image: ("shop-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    top: 48px;
}

.shop-hero-content {
    top: 12px;
    left: 105px;
    align-items: flex-start;
}

.shop-hero-content h1 {
    font-size: 60px;
}

.shop-hero-content p {
    font-size: 30px;
}

.main-button .btn {
    margin-top: 0;
}

@media screen and (max-width:992px) {
    .shop-hero-content {
        top: 5px;
    }

    .shop-hero-content h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:772px) {
    .shop-hero-content {
        top: -50px;
        left: 90px;
    }

    .shop-hero-content h1 {
        font-size: 35px;
    }

}

@media screen and (max-width:600px) {
    .shop-hero-content {
        top: -85px;
        left: 60px;
    }

    .shop-hero-content h1 {
        font-size: 25px;
    }

    .shop-hero-content p {
        font-size: 15px;
    }


}

@media screen and (max-width:472px) {
    .shop-hero-content {
        top: -115px;
        left: 40px;
    }

    .shop-hero-content h1 {
        font-size: 20px;
    }

    .shop-hero-content p {
        font-size: 10px;
    }

    .main-button .btn {
        font-size: 12px;
        padding: 5px 20px;
    }
}




/*end hero*/




/*start shop-products*/

.show {
    padding-bottom: 30px;
}

.show .right {
    justify-content: end;
}

.show button a {
    cursor: pointer;
}

.show button a:hover {
    background-color: #000;
}

.select {
    background: none;
}

/*****/

.shop-products {
    padding: 20px 0;
    padding-bottom: 50px;
}

.shop-products .card a:hover {
    color: var(--maincolor);
}

.shop-products .card span {
    font-size: 18px;
    font-weight: bolder;
}

.card {
    width: 200px;
    margin-bottom: 10px;
}

.card-img img {
    object-fit: cover;
}

.card-body a {
    white-space: nowrap;
}

.img-icons {
    top: 40%;
    left: 6%;
}

/*******/
.page-item .page-link {
    color: #000;
    background: none;
    border: none;
    background-color: #eeeeee;

}

.page-item .page-link:hover {
    color: #fff;
    background-color: #000;
}

.page-item .page-link:focus {
    color: #fff;
    background-color: #000;
    box-shadow: none;
}


@media screen and (max-width:1200px) {
    .card {
        width: 170px;
    }
}

@media screen and (max-width:1020px) {
    .card {
        width: 150px;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: 250px;
        margin: 0 auto;

    }
}

@media screen and (max-width:770px) {
    .show .left {
        margin-bottom: 10px;
    }

    .show span {
        display: none;
    }

    .show .right {
        justify-content: start;
    }
}

/*end shop-products*/




/*start footer*/
.footer {
    padding-top: 50px;
    background: none;
    width: 100%;
}

.footer .left-side {
    width: 65%;
}

.footer .right-side {
    width: 35%;
    background: none;
}

.footer svg {
    fill: #e0e0e0;
    background-color: #e0e0e036;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }

    .social-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*end footer*/