/*start header*/
@media screen and (max-width:620px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*end header*/


/*start hero*/
.cart-hero {
    background-image: ("flower-bg.webp");
    background-size: cover;
    top: 48px;
}

.cart-hero-content {
    top: -7%;
    left: 35%;
}

.cart-hero-content h1 {
    font-size: 60px;
}

.cart-hero-content .breadcrumb-item,
.cart-hero-content a {
    color: #f4f4f4c0;
}

@media screen and (max-width:992px) {
    .cart-hero-content {
        left: 30%;
    }

    .cart-hero-content h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:778px) {
    .cart-hero-content {
        top: -20%;
        left: 30%;
    }

    .cart-hero-content h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:489px) {
    .cart-hero-content {
        top: -35%;
        left: 25%;
    }

    .cart-hero-content h1 {
        font-size: 30px;
    }
}

/*end hero*/

/*start head cart*/
.head-cart {
    padding: 25px 0;
}

.head-cart span {
    width: 50px;
    height: 50px;
}

.head-cart .head-service {
    width: 360px;
    height: 307px;
}

.head-cart .border-bottom {
    width: 100px;

}

@media screen and (max-width:630px) {
    .head-cart .head-service {
        width: 300px;
        height: 280px;
    }
}


/*end head cart*/

/*start shop cart*/
.shop-cart img{
    width: 300px;
    height: 380px;
}
.table>thead{
   --bs-table-color: none; /* var(--bs-emphasis-color); */
   --bs-table-bg :none; /*  var(--bs-body-bg); */
background-color: #DDDDDD;
}
tbody .item-cart td{
    padding-top: 25px;
 vertical-align: middle;
}
.item-cart  .btn-close:focus{
    box-shadow: none;
}

@media screen and (max-width:780px){
    .shop-cart img{
    width: 180px;
    height: 220px;
}
}
@media screen and (max-width:594px){
    .shop-cart img{
    width: 100px;
    height: 120px;
}
}


/*end shop cart*/


/*start box*/
.box{
    padding: 30px 0;
}
.main-button .btn{
    padding: 10px 20px;
}

/*end box*/



/*start footer*/
.footer {
    background: none;
    width: 100%;
}

.footer .left-side {
    width: 65%;
}

.footer .right-side {
    width: 35%;
    background: none;
}

.footer svg {
    fill: #e0e0e0;
    background-color: #e0e0e036;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }

    .social-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*end footer*/